* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.bg-nav {
  background-color: #423e37;
}
.active {
  font-weight: bold;
  border-bottom: 3px solid #fff;
}
.navbar-nav a {
  color: #fff !important;
}
.navbar-nav a:hover {
  border-bottom: 3px solid #fff;
}
.btn-search {
  background-color: #e3b23c;
  color: #fff;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
footer {
  background-color: #edebd7;
}
